<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <title>"Dev Skills"</title>
</head>
<body>
  <a href="/">Home</a>
    <h1>Dev Skills</h1>
    <ul>
      <% skills.forEach(function(t, idx) { %>
        <li>
          <form action="/skills/<%= idx %>?_method=DELETE"
            class="delete-form" method="POST">
            <button type="submit">X</button>
          </form>
            <a href="/skills/<%= idx %>"><%= t.skill %></a>
            - 
          <%= t.done ? 'done' : 'not done' %>
        </li>
      <% }); %>
    </ul>
    <a href="/skills/new">Add skill</a>
  </body>
</html>